<h3>Post Form</h3>

<%= form_for(@post) do |f| %>
  <%= label_tag(:title, "Post title: ") %><br>
  <%= f.text_field :title %><br>

  <%= label_tag(:description, "Post description: ")%><br>
  <%= f.text_area :description %><br>

  <%= f.submit %>
<% end %>